<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&family=Ysabeau+SC:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-content-background">
    <!--Header partial-->
    <%- include('./partials/header.ejs', {user: user}) %>
    <div>
      <div class="flex flex-row">
        <div class="m-10 ml-36 flex basis-9/12 flex-col gap-6 p-8">
          <% posts.forEach(post => { %>
          <div class="flex flex-row divide-x-2 divide-black bg-white px-6 py-5 shadow-lg">
            <div class="mr-7 flex basis-4/12">
              <img src= <%= typeof user !== 'undefined' && user.membership_status === 'member' ? `/images/${post.author.avatar_url}` : '/images/unauthorized.png' %> class='aspect-square object-contain w-24 rounded-full mr-4' rel='preload' as='image'/>
              <div class="flex">
                <div class="font-YsabeauSC text-xl font-bold">
                  <%= typeof user !== 'undefined' && user.membership_status === 'member' ? post.author.full_name : 'Anonymous'%>
                </div>
                <br />
              </div>
            </div>
            <div class="flex basis-8/12 flex-col pl-7">
              <div class="pb-3 font-Raleway text-lg font-semibold"><%= post.title %></div>
              <div class="font-Inter text-base font-normal"><%= post.content %></div>
            </div>
          </div>
          <hr />
          <% }) %>
        </div>
        <div class="basis-3/12"></div>
      </div>
    </div>
  </body>
</html>
